* {
  margin: 0;
  padding: 0;
}

body {
  /* stops the page from scrolling */
  overflow: hidden;
}

#NavBarBox {
  display: flex;
  flex-direction: column;
}

#navBarList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex: 1;
}

.navLi:hover {
  cursor: pointer;
}

#searchBar {
  height: 19.5px;
  padding: 10px 5px 2px 5px;
  background-color: #121f46;
  display: flex;
  justify-content: center;
  align-items: center;
}

#searchBarOutline {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid lightblue;
  border-radius: 5px;
  width: 220px;
  height: 2rem;
  margin-top: 1rem;
}

#searchBarInput {
  background-color: transparent;
  border: none;
  text-align: center;
  outline: none;
}

#navBarList, li {
  padding: 5px;
}

.navLink {
  text-decoration: none;
  color: grey;
}

#RecurringIconBg {
  background-color: grey;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

#divMyAccount {
  flex: 1
}

#accordian {
  background-color: transparent;
}

#accordianDetailDiv {
  display: flex;
}

.settingDiv {
  display: flex;
  align-items: bottom;
  padding-left: 1rem;
}

#subscribeBtn {
  background-color: lightblue;
  border: none;
  border-radius: 5px;
  text-align: center;
  padding: 0 1rem 1rem 1rem;
  margin: 1rem;
}